*
{
	padding: 0px;
	margin: 0px;
}
body{

	background-color: #ccc;
}
.red
{
   color: red;
   font-weight: bold;
   font-size: 2.1em;
}
label
{
	font-weight: bold;
	font-size: 1.2em;
}

h1
{
	text-align: center;
	font-weight: bold;
	font-size: 3em;
	color: blue;
}

